<header>
  <!-- <div id="top_line">
    <div class="container">
      <a href="/availability" id="link_bt">Book Now</a>
    </div>
  </div> -->
  <div id="top_header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div id="logo">
            <a href="index.html"><img src="img/logo.png" width="240" height="40" alt="Conifer Lodge" data-retina="true"></a>
          </div>
        </div>
        <nav class="col-md-8 col-sm-8 col-xs-8">
          <a class="cmn-toggle-switch cmn-toggle-switch__rot  open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
          <div class="main-menu">
            <div id="header_menu">
              <img src="img/logo.png" width="240" height="40" alt="Conifer Lodge" data-retina="true">
            </div>
            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/amenities">Amenities</a></li>
              <li><a href="/availability">Availability</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/policies">Policies</a></li>
              <li><a href="/availability" class="book_btn">Book Now</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
